:global {
  .container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }

  .clearfix::after {
    clear: both;
    content: '';
    display: block;
  }

  .topFormContainerImage {
    max-height: 200px;
    min-width: initial !important;
    width: auto !important;
    display: block;
    margin: auto;
    padding-top: 20px;
  }
  
}
