doctype html
html(lang="en")
  head
    title My Contacts
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="icon" type="image/png" href="/favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    #app
    noscript JavaScript on your browser is turned off. Please turn it on in your settings and reload the page.
